# Artefactos generados

runs/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Entornos virtuales
.venv/
venv/
env/



# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Empaquetado
*.zip