# Artefactos generados
artifacts_taller_02/
figures/
runs/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Entornos virtuales
.venv/
venv/
env/

# Modelos y datos pesados
*.keras
*.h5
*.joblib
*.npz
*.npy

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Empaquetado
*.zip